@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif; }

body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  positiion: relative;
  min-width: 600px;
  /*中央配置するボックスの横幅*/
  min-height: 400px;
  /*中央配置するボックスの縦幅*/
  height: 100%; }

.centerMiddle {
  position: absolute;
  /*body要素に対して絶対配置*/
  top: 25%;
  /*上端を中央に*/
  left: 10%;
  /*左端を中央に*/
  width: 90vw;
  /*横幅*/
  height: 50vh;
  /*縦幅*/ }

header {
  display: block; }

#main canvas#clock {
  border: thin solid #444;
  background-color: #FFFFFF;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px; }

footer {
  display: block;
  height: 30px;
  text-align: center;
  margin-top: 20px; }
  footer a {
    text-decoration: none;
    color: white; }
    footer a:visited {
      color: white; }

p {
  margin-left: 50px;
  font-size: 5vw; }

p#RealtimeCountdownArea {
  text-align: center;
  font-size: 8vw;
  padding: 50px; }

select {
  margin-left: 50px;
  font-size: 30px; }

input {
  margin-left: 50px;
  font-size: 30px; }
